ul {
	list-style-type: none;
}

span.label.label-default {
    bottom: 1px;
    position: relative;
}

.TodoApp-container {
	height: 100%;
    width: 600px;
    margin: 0 auto;
}

.TodoList-ul {
	max-height: 560px;
    overflow-y: auto;
}

.ListItem-row {
	margin: 5px 5px 5px 5px;
}

.ListItem-row .Task-label {
	width: 200px;
    position: absolute;
    cursor: pointer;
    padding-left: 5px;
}

.ListItem-row .ListItem-checkbox {
	display: inline-block;
	width: 430px;
}

.ListItem-row .Task-completed {
    color: #cccccc;
    text-decoration: line-through;
}

.modal-container {
  position: relative;
}

.modal-container .modal,
.modal-container .modal-backdrop {
  position: absolute;
}

.TodoDialog-modal {
	width: 80%;
}

.ConfirmDialog-modal {
	width: 60%;
}
