form {
	display: block;
}

ul {
	list-style-type: none;
}

.Task-label {
	width: 200px;
    position: absolute;
    cursor: pointer;
}

.header-element {
	display: inline-block;
}

.modal-container {
  position: relative;
}

.modal-container .modal,
.modal-container .modal-backdrop {
  position: absolute;
}

.ListItem-checkbox {
	display: inline-block;
	width: 500px;
}

.Task-completed {
    color: #cccccc;
    text-decoration: line-through;
}